<div style="height: 396px;">
    <table>
        <tr>
          <th>Request Id</th>
          <th>Request Date</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Total Rent</th>
          <th>Approval</th>
          <th>Book Id</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
          <td>Ernst Handel</td>
        </tr>
    </table>
    </div>
    
