<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="footer">	
	<ul class="foote_bottom_ul_amrc">
			<li><a href="#">Home</a></li>
			<li><a href="about-us">About</a></li>
			<li><a href="contact-us">Contact Us</a></li>
			<li><a href="/login">Accounts</a></li>
			</ul>
			<ul class="social_footer_ul">
				<li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
				<li><a href="https://www.linkdin.com"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
			</ul>
			<p>Designed With by Dharya Information Pvt Ltd. Pune</p>
</div>