<h2>About us</h2>
<p>Dharya Information Private Limited – a company formed in 2007 by 4 friends with a mission to help people foster their habit of reading. The vision is to ensure that the habit of reading prevails and is passed on to the next generations. In this era of technological revolution, we strive to ensure that there is a market for books in printed format,
    Dharya information private ltd. leverages the power of the librarywala brand to offer online customers a premier destination for renting multilingual books.
    
    We as readers identified the following issues:
    - Limited number of libraries with very limited collection of books
    - Reading is an expensive hobby; one cannot buy all the books to read
    - In these busy times readers were not able to take out time to foster their habit, travel too and from work took most of their time and the traffic added to the exhaustion
    
    The idea was to solve the above, if the reader could not come to a library/bookstore, what if we took the library to them. We started speaking with several readoholics outside several bookshops, interviewing them and understanding their requirements and chalking out the solutions plan.
    
    The above gave birth to Librarywala.com – India’s first & largest online book rental library.
    
    Librarywala.com started operations on August 1st, 2007 in Mumbai with 8000 unique titles, and slowly started getting members by word of mouth, within the first few months itself we started getting a great response and a huge demand from other cities in the country, we started our services in Bangalore on January 19th, 2008 and consequently in Pune on November 20th, 2008.</p>
    <h2>Publications</h2>

<marquee width="100%" direction="left" behavior="alternate" style="margin: 19px;">
    <img src="assets/pub_logo1.png">
    <img src="assets/pub_logo2.png">
    <img src="assets/pub_logo3.png">
    <img src="assets/pub_logo4.png">
    <img src="assets/pub_logo5.png">
    <img src="assets/pub_logo6.png">
</marquee>
