
<form>
    <div class="form-group">
      <label for="exampleInputbooks">Add books</label>
      <input type="text" class="form-control" id="exampleInputname"  placeholder="Book Name">
      <label for="exampleFormControlSelect1">Category type</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option></option>
            <option>Fiction</option>
            <option>Non-Fiction</option>
            <option>Ensclopedia</option>
            <option>Arts</option>
            <option>Science</option>
        </select>
      <label for="exampleInputbookimageurl">Book image url</label>
      <input type="text" class="form-control" id="exampleInputbookimageurl" placeholder="image url">
      <label for="exampleInputrent">Rent</label>
      <input type="Number" class="form-control" id="exampleInputrent" placeholder="rent">
      <label for="exampleInputnoofbooks">Total No of Books</label>
      <input type="Number" class="form-control" id="exampleInputnoofbooks" placeholder="no of books"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
