

<div class="signup-form">
    <form [formGroup]="signupForm">
		<h2>Sign Up</h2>
        <div class="form-group">
        	<input type="text" class="form-control" formControlName="username" placeholder="Username" required="required">
        	<input type="email" class="form-control" formControlName="email" placeholder="Email Address" required="required">
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required="required">
            <input type="password" class="form-control" formControlName="confirm_password" placeholder="Confirm Password" required="required">
			<label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <input type="submit" class="button" value="Sign up" (click)="onSignupSubmit()">
        </div>
    </form>
	<div class="text-center">Already have an account? <a [routerLink]="['/login']" >Login here</a></div>
</div>


